<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compañia de luz</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="container">
    <div>
        <center>
            <h2>Compañia de Luz</h2>
            <img src="./img/upsin.png" alt="Logo Upsin" style="width: 100px; height: 100px;">
        </center>
    </div>
    
    
</body>
</html>