<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>
<body>
    <div id="todo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Acerca de</a>
              <a class="nav-item nav-link" href="#">Pago de Recibo</a>
              <a class="nav-item nav-link" href="#">Contacto</a>
            </div>
        </nav>
            <br><br><br>
              <center>
                  <form action="/compañialuz" method="post">
                      <div class="form-group row">
                          <label for="" class="col-sm-5 col-form-label">Numero Boleto</label>
                          <div class="col-sm-5">
                              <input type="number" class="form-control" id="numBoleto" name="numBoleto"><br>
                          </div> 
                      </div>
                      <div class="form-group row">
                          <label for="" class="col-sm-5 col-form-label">Nombre</label>
                          <div class="col-sm-5">
                              <input type="number" class="form-control" id="nombre" name="nombre"><br>
                          </div>  
                      </div>
                      <div class="form-group row">
                          <label for="" class="col-sm-5 col-form-label">Domicilio</label>
                          <div class="col-sm-5">
                              <input type="number" class="form-control" id="domicilio" name="domicilio"><br>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="" class="col-sm-5 col-form-label">Tipo de Viaje</label>
                          <div class="col-sm-5">
                              <select id="tipo" name="tipo" class="form-control">
                                  <option value="1">Domicilio</option>
                                  <option value="2">Comercial</option>
                                  <option value="2">Industrial</option>
                                </select><br>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="" class="col-sm-5 col-form-label">Kilowatts consumidos</label>
                          <div class="col-sm-5">
                              <input type="number" class="form-control" id="kwConsumidos" name="kwConsumidos"><br>
                          </div>
                      </div>
                  </form>
              </center>
              
    </div>    
</body>
<%-include('partials/piePagina.html');%>
</html>